body {
	background-color: #000;
}

#clock {
	background-color: black;
	margin: 0 auto;
	color: limegreen;	
	text-align: center;
	width: 30%;
	min-width: 350px;
	font-family: "Courier New", Courier;
}

h3 {
	font-size: 2em;
}